* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
}

img {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
}

audio {
    display: none;
}
